<%- include("./partials/head") %>
  
<title><% title %></title>

    <div class="container"> 
        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-reset-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Reset Your Password</h1> 
                                    </div>

                                    <% if (messages.error) { %>
                                        <p style="color:red"><%- messages.error %></p>
                                    <% } %>
                                    
                                    <% if (messages.success) { %>
                                        <p style="color:green"><%- messages.success %></p>
                                    <% } %>

                                    <form class="user" action="/update-password" method="post">
                                        <div class="form-group">
                                            <input type="hidden" name="ofc_email" class="form-control form-control-user"
                                                id="ofc_email"  value="vinutha.sc@dollarbirdinc.com">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control form-control-user"
                                                id="password"  
                                                placeholder="Enter password Address">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="confirm_password" class="form-control form-control-user"
                                                id="confirm_password"  
                                                placeholder="Enter password again">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Reset Password
                                        </button>
                                    </form>
                                    <hr>
                                    <!-- <div class="text-center">
                                        <a class="small" href="register">Create an Account!</a>
                                    </div> -->
                                    <div class="text-center">
                                        <a class="small" href="../login">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <%- include("./partials/foot") %> 